@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Northwind Products Application</h1>
    <p>App is intended to manage  <a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a> and <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>.</p>
    <p>App is build using <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>    
</div>
